# Relatório de Análise 3

## Imovéis Residenciais

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('aluguel.csv', sep = ';')

In [3]:
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

In [4]:
list(dados['Tipo'].drop_duplicates())

['Quitinete',
 'Casa',
 'Conjunto Comercial/Sala',
 'Apartamento',
 'Casa de Condomínio',
 'Prédio Inteiro',
 'Flat',
 'Loja/Salão',
 'Galpão/Depósito/Armazém',
 'Casa Comercial',
 'Casa de Vila',
 'Terreno Padrão',
 'Box/Garagem',
 'Loft',
 'Loja Shopping/ Ct Comercial',
 'Chácara',
 'Loteamento/Condomínio',
 'Sítio',
 'Pousada/Chalé',
 'Studio',
 'Hotel',
 'Indústria']

In [5]:
residencial = ['Quitinete',
 'Casa',
 'Apartamento',
 'Casa de Condomínio',
 'Casa de Vila',
 'Terreno Padrão',
 'Loft']

In [6]:
selecao = dados['Tipo'].isin(residencial)

In [7]:
dados_residencial = dados[selecao]

In [8]:
list(dados_residencial['Tipo'].drop_duplicates())

['Quitinete',
 'Casa',
 'Apartamento',
 'Casa de Condomínio',
 'Casa de Vila',
 'Terreno Padrão',
 'Loft']

In [9]:
dados_residencial.shape

(22701, 9)

In [10]:
dados.shape[0]

32960

In [11]:
dados_residencial.index = range(dados_residencial.shape[0])

## Exportando a base de dados

In [12]:
dados_residencial.to_csv('aluguel_residencial.csv', sep = ';')

In [14]:
dados_residencial_2 = pd.read_csv('aluguel_residencial.csv', sep = ';')

In [15]:
dados_residencial_2

,Unnamed: 0,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
22696,22696,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22697,22697,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22698,22698,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22699,22699,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22700,22700,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [16]:
dados_residencial.to_csv('aluguel_residencial.csv', sep = ';', index = False)