# Relatório de Análise 4

## Seleções e Frequências

In [1]:
import pandas as pd

In [3]:
dados = pd.read_csv('aluguel_residencial.csv', sep = ';')

### Selecione somente os imóveis classificados com tipo Apartamento

In [6]:
dados['Tipo'].unique()

array(['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio',
       'Casa de Vila', 'Terreno Padrão', 'Loft'], dtype=object)

In [10]:
apartamentos = dados['Tipo'] == 'Apartamento'

In [15]:
numero_de_apartamentos = dados[apartamentos].shape
numero_de_apartamentos[0]

19532

### Selecione os imóveis selecionados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'

In [37]:
casas = dados['Tipo'].isin(['Casa','Casa de Condomínio', 'Casa de Vila'])
casas

0        False
1         True
2        False
3        False
4        False
         ...
22696    False
22697    False
22698    False
22699    False
22700    False
Name: Tipo, Length: 22701, dtype: bool

In [38]:
numero_de_casas = dados[casas].shape
numero_de_casas[0]

2212

### Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites

In [46]:
selecao = (dados['Area'] >= 60) & (dados['Area'] <= 100)
casas_com_area_entre_60_e_100 = dados[selecao]
casas_com_area_entre_60_e_100

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0
10,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0
...,...,...,...,...,...,...,...,...,...
22689,Apartamento,Recreio dos Bandeirantes,3,2,1,88,1550.0,790.0,NaN
22691,Apartamento,Leblon,3,0,1,80,3000.0,1010.0,249.0
22696,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22698,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22700,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

### Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$2.000,00

In [47]:
dados.index

RangeIndex(start=0, stop=22701, step=1)

In [48]:
dados.columns

Index(['Tipo', 'Bairro', 'Quartos', 'Vagas', 'Suites', 'Area', 'Valor',
       'Condominio', 'IPTU'],
      dtype='object')

In [49]:
quarto_e_aluguel = (dados['Quartos'] >= 4) & (dados['Condominio'] < 2000)

In [51]:
selecao_de_imoveis = dados[quarto_e_aluguel]
selecao_de_imoveis

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
44,Casa de Condomínio,Barra da Tijuca,5,10,5,1600,25000.0,1600.0,NaN
61,Casa de Condomínio,Freguesia (Jacarepaguá),5,3,1,140,2500.0,1200.0,NaN
125,Apartamento,Botafogo,4,1,1,190,5500.0,1720.0,350.0
175,Casa de Condomínio,Recreio dos Bandeirantes,4,4,4,267,6500.0,700.0,3308.0
176,Apartamento,Laranjeiras,4,1,2,288,7000.0,1870.0,582.0
...,...,...,...,...,...,...,...,...,...
22638,Casa de Condomínio,Barra da Tijuca,4,3,2,250,7500.0,1300.0,680.0
22639,Casa de Condomínio,Barra da Tijuca,4,3,4,460,12000.0,1000.0,1200.0
22647,Apartamento,Recreio dos Bandeirantes,4,2,2,230,7000.0,1490.0,NaN
22657,Casa de Condomínio,Barra da Tijuca,5,2,5,554,20000.0,1892.0,1743.0
22695,Casa de Condomínio,Barra da Tijuca,5,3,4,450,15000.0,1711.0,2332.0