In [1]:
import pandas as pd

In [2]:
s = pd.Series(list('aasdasdasdasdasasda'))
s

0     a
1     a
2     s
3     d
4     a
5     s
6     d
7     a
8     s
9     d
10    a
11    s
12    d
13    a
14    s
15    a
16    s
17    d
18    a
dtype: object

In [3]:
s.unique()

array(['a', 's', 'd'], dtype=object)

In [4]:
s.value_counts()

a    8
s    6
d    5
dtype: int64

In [8]:
dados = pd.read_csv('C:/Users/Nathan Gurgel/Dropbox/Python Pandas - Tratando e Analisando Dados/dados/aluguel.csv', sep = ';')

In [10]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [11]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64